body {    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: "Noto Sans Thai", "Roboto";
    color: white;
    font-size: 12px;
}

p {
    margin: 0;
    font-family: "Noto Sans Thai", "Roboto";
    color: white;
}

div {
    box-sizing: border-box;
    margin: 0;
}

.mainDiv {
    display: flex;
    width: 100%;
}

/* left banner is 30% wide*/
.leftBanner {
    width: 28vw;
    height: 100vh;
    background-color: #22333A;

    flex-direction: column;
    overflow: scroll;

    box-sizing: border-box;
    padding: 0;
    
    box-shadow: 1px 0px 15px 1px rgba(0, 0, 0, 0.50);
    z-index: 1;
}

.rightContent {
    width: 72vw;
    height: 100vh;
    background-color: #246C9D;
}

#canvas1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* result box --------------------------------- */
.resultBoxDiv {
    position: absolute;
    right: 3vw;
    bottom: 3.2vh;
    width: 30vw;
    height: 25vh;

    display: flex;
    flex-direction: column;
    padding: 0;

    background-color: #1D473F;
    box-shadow: 1px 1px 10px 1.2px rgba(0, 0, 0, 0.50);
}

.resultHeadDiv {
    width: 100%;
    height: 54px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    background-color: #17392D;
}

.resultContentDiv {
    width: 100%;
    height: 100%;
    padding: 16px 24px 12px 24px;
    display: flex;
    flex-direction: column;
}

.txtLineDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
}

.txt1 {
    font-size: 12px;
}

.outTxt1 {
    font-size: 12px;
    font-weight: bold;
}
