/* this file contains css properties of content inside the leftBanner div*/

.panelDiv {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: #2F3E46;

    padding: 12px 0px 15px 0px;
    margin-bottom: 6px;
}

.panelHeadDiv {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 8px;
}

.header1 {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 0;

}

.fieldDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    padding-left: 36px;
    padding-right: 18px;
    margin-bottom: 4px;
    font-size: 12px;

}

.fieldDiv>div {
    display: flex;
}

.fieldCol1 {
    width: 32%;
}
.fieldCol2 {
    width: 36%;
}
.fieldCol3 {
    width: 20%;
    padding-left: 6px;
}
.fieldCol4 {    
    width: 8%;
    justify-content: flex-end;
}

.inp1 {
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    background: #39464E;
    border: 1px solid #FFFFFF;
    border-radius: 1.5px;
    padding-left: 5px;

    color: white;
    font-size: 14px;
    font-family: "Noto Sans Thai", "Roboto";

    transition-duration: 0.12s;
}
.inp1:focus {
    outline: none;
    background: #3e5363;
}

.unitText {
    margin: 0;
    color: #ffffff85;
    font-style: italic;
}

.resetBtn {
    padding: 0;
    margin: 0;

    border: none;
    background: none;
    color: #ffffff80;

    cursor: pointer;
    transition-duration: 0.08s;

    position: relative;
    top: 1px;
}
.resetBtn:hover {
    color: #ffffffca;
    rotate: 40deg;
}

.icon1 {
    font-size: 16px;
}

.icon2 {
    font-size: 18px;
}

.radio1 {
    /**/
}

#solveBtn {
    height: 30px;
    width: 70px;
    background: #41666B;
    border: 1px solid white;
    border-radius: 2px;
    color: white;

    font-size: 14px;
    font-family: "Noto Sans Thai", "Roboto";
    
    cursor: pointer;
    transition-duration: 0.08s;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#solveBtn:hover {
    background: #3f764b;
    box-shadow: 0px 0px 3px 1px #d9f9ec91;
}